.loading-players {
    margin-right: 10px;
}

.fa-spinner {
    animation-name: rotate-s-loader;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: linear;
}

.pos {
    display: inline-block;
    width: 30px;
}

.fa-caret-right,
.fa-caret-down {
    margin-right: 10px;
    width: 20px;
}

.shots {
    margin-left: 60px;
}

.player-details {
    margin-left: 60px;
    margin-top: 10px;

    i {
        margin-right: 10px;
    }
}

@keyframes rotate-s-loader {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
