<p class="text-right">
    <button type="button" class="btn" (click)="refresh()"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Position</th>
            <th>Player</th>
            <th class="text-right">Shots</th>
            <th class="text-right">Std Dev <i class="fa fa-info-circle" aria-hidden="true"><span
                data-tooltip="Standard Deviation"></span></i></th>
        </tr>
    </thead>

    <tbody>
        <ng-container *ngIf="!isLoading">
            <tr *ngFor="let player of ranking; index as i">
                <td>{{i + 1}}.</td>
                <td>
                    {{player.name}}
                </td>
                <td class="text-right">{{player.avgNumberOfShots | number:'0.2-2'}}</td>
                <td class="text-right">{{player.stdDev | number:'0.2-2'}}</td>
            </tr>
        </ng-container>

        <tr *ngIf="isLoading">
            <td colspan="7" class="text-center"><i class="fa fa-spinner loading-players"
                    aria-hidden="true"></i>loading players</td>
        </tr>
    </tbody>
</table>