<div class="row">
    <div class="col-sm-12">
        <!-- login -->
        <ng-container *ngIf="isInitialized && (authService.isAuthenticated$ | async); else loggedOut">
            <div class="logout">
                <span *ngIf="authService.user$ | async as user">
                    {{ user.name }}
                </span>
                <button class="btn btn-light" (click)="editUser()"><i class="fa fa-cog" aria-hidden="true"></i></button>
                <button class="btn btn-primary" (click)="logout()">
                    Log out
                </button>
            </div>

            <ng-container *ngIf="isInitialized && isRegistered">
                <!-- players -->
                <table class="table">
                    <thead>
                        <tr>
                            <th>Player</th>
                            <th class="hidden-xs">Last Run</th>
                            <th class="hidden-xs">Number of Shots</th>
                            <th class="hidden-xs"></th>
                            <th class="hidden-xs"></th>
                            <th class="hidden-xs"></th>
                            <th class="hidden-xs"></th>
                            <th class="hidden-xs"></th>
                        </tr>
                    </thead>

                    <tbody>
                        <ng-container *ngIf="!isLoading">
                            <tr *ngFor="let player of players">
                                <td>
                                    <span class="playerName">{{player.name}}</span><br />{{player.webApiUrl}}
                                    <div class="visible-xs">
                                        <br />
                                        Last Run: {{player.lastMeasurement | date:'short'}}<br />
                                        Number of Shots: {{player.avgNumberOfShots | number:'0.2-2'}}
                                        <br /><br />
                                        <div class="commands-xs text-center">
                                            <a (click)="editPlayer(player)"><i class="fa fa-pencil"
                                                    aria-hidden="true"></i></a>
                                            <a (click)="testPlayer(player)"><i class="fa fa-check-circle"
                                                    aria-hidden="true"></i></a>
                                            <a (click)="runPlayer(player)"><i class="fa fa-play-circle"
                                                    aria-hidden="true"></i></a>
                                            <a (click)="showLog(player)"><i class="fa fa-file-text-o"></i></a>
                                            <a (click)="confirmDeletePlayer(player)"><i class="fa fa-trash-o"
                                                    aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </td>
                                <td class="hidden-xs">{{player.lastMeasurement | date:'short'}}</td>
                                <td class="text-right hidden-xs">{{player.avgNumberOfShots | number:'0.2-2'}}</td>
                                <td class="hidden-xs" title="Edit player"><a (click)="editPlayer(player)"><i
                                            class="fa fa-pencil" aria-hidden="true"></i></a>
                                </td>
                                <td class="hidden-xs" title="Test player url"><a (click)="testPlayer(player)"><i
                                            class="fa fa-check-circle" aria-hidden="true"></i></a>
                                </td>
                                <td class="hidden-xs" title="Run player"><a (click)="runPlayer(player)"><i
                                            class="fa fa-play-circle" aria-hidden="true"></i></a>
                                </td>
                                <td class="hidden-xs" title="Show log"><a (click)="showLog(player)"><i
                                            class="fa fa-file-text-o" aria-hidden="true"></i></a>
                                </td>
                                <td class="hidden-xs" title="Delete player"><a (click)="confirmDeletePlayer(player)"><i
                                            class="fa fa-trash-o" aria-hidden="true"></i></a></td>
                            </tr>
                        </ng-container>

                        <tr *ngIf="!players.length && !isLoading">
                            <td colspan="7" class="text-center">No players registered</td>
                        </tr>

                        <tr *ngIf="isLoading">
                            <td colspan="7" class="text-center"><i class="fa fa-spinner loading-players"
                                    aria-hidden="true"></i>loading players</td>
                        </tr>
                    </tbody>
                </table>

                <p class="text-center">
                    <button class="btn btn-primary" (click)="addPlayer()">
                        Add player
                    </button>
                </p>
            </ng-container>

            <ng-container *ngIf="isInitialized && !isRegistered">
                <form novalidate="true" class="was-validated">
                    <div class="form-group">
                        <label for="email">Email (not visible for other users)</label>
                        <input type="text" class="form-control" id="email" name="email" [(ngModel)]="user.email"
                            required>
                    </div>

                    <div class="form-group">
                        <label for="nickname">Nickname</label>
                        <input type="text" class="form-control" id="nickname" name="nickname"
                            [(ngModel)]="user.nickName" required>
                    </div>

                    <div class="form-group">
                        <label for="publicTwitter">Twitter (optional)</label>
                        <input type="text" class="form-control" id="publicTwitter" name="publicTwitter"
                            [(ngModel)]="user.publicTwitter">
                    </div>

                    <div class="form-group">
                        <label for="publicUrl">Public Url (optional)</label>
                        <input type="text" class="form-control" id="publicUrl" name="publicUrl"
                            [(ngModel)]="user.publicUrl">
                    </div>

                    <p class="text-center">
                        <button class="btn btn-primary" (click)="register()">
                            Register
                        </button>
                    </p>
                </form>
            </ng-container>
        </ng-container>

        <ng-template #loggedOut>
            <ng-container *ngIf="isInitialized">
                <p class="text-center">Log in to register your player for the battle.</p>
                <p class="text-center"><button class="btn btn-primary" (click)="login()">Log in</button></p>
            </ng-container>
        </ng-template>

        <ng-container *ngIf="!isInitialized">
            <p class="text-center"><i class="fa fa-spinner page-busy-indicator" aria-hidden="true"></i></p>
        </ng-container>

        <ng-container *ngIf="isBusy">
            <div class="busy-indicator text-center"><i class="fa fa-spinner page-busy-indicator" aria-hidden="true"></i>
            </div>
        </ng-container>

        <p class="error" [innerHTML]="error" *ngIf="error"></p>
    </div>
</div>

<div class="modal fade battleship-player" id="user-dialog" #userDialog tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">User Settings</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="email">Email (not visible for other users)</label>
                    <input type="text" class="form-control" id="email" name="email" [(ngModel)]="user.email" required>
                </div>

                <div class="form-group">
                    <label for="nickname">Nickname</label>
                    <input type="text" class="form-control" id="nickname" name="nickname" [(ngModel)]="user.nickName"
                        required>
                </div>

                <div class="form-group">
                    <label for="publicTwitter">Twitter (optional)</label>
                    <input type="text" class="form-control" id="publicTwitter" name="publicTwitter"
                        [(ngModel)]="user.publicTwitter">
                </div>

                <div class="form-group">
                    <label for="publicUrl">Public Url (optional)</label>
                    <input type="text" class="form-control" id="publicUrl" name="publicUrl"
                        [(ngModel)]="user.publicUrl">
                </div>

                <p class="error" [innerHTML]="userDialogError" *ngIf="userDialogError"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="saveUser()">Save user</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade battleship-player" id="player-dialog" #playerDialog tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Player</h4>
            </div>
            <div class="modal-body" *ngIf="selectedPlayer">
                <div class="form-group">
                    <label for="name">Name of Player</label>
                    <input type="text" class="form-control" id="name" [(ngModel)]="selectedPlayer.name" required>
                </div>

                <div class="form-group">
                    <label for="webApiUrl">Web API Url</label>
                    <input type="text" class="form-control" id="webApiUrl" [(ngModel)]="selectedPlayer.webApiUrl"
                        required>
                </div>

                <div class="form-group">
                    <input type="checkbox" class="form-check-input" id="needsThrottling"
                        [(ngModel)]="selectedPlayer.needsThrottling">
                    <label class="form-check-label" for="needsThrottling">Needs Throttling</label>
                </div>

                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="hasApiKey"
                        [(ngModel)]="selectedPlayer.hasApiKey">
                    <label class="form-check-label" for="hasApiKey">API Key needed</label>
                </div>

                <div class="form-group">
                    <label for="apiKey">API Key</label>
                    <input type="password" id="apiKey" class="form-control" [(ngModel)]="selectedPlayer.apiKey"
                        (change)="apiKeyChanged()" [disabled]="!selectedPlayer.hasApiKey" autocomplete="off">
                </div>

                <p class="error" [innerHTML]="playerDialogError" *ngIf="playerDialogError"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="savePlayer()">Save player</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

        <ng-container *ngIf="isBusy">
            <div class="busy-indicator text-center"><i class="fa fa-spinner page-busy-indicator" aria-hidden="true"></i>
            </div>
        </ng-container>
    </div>
</div>

<div class="modal fade battleship-player" id="confirm-delete-dialog" #confirmDeleteDialog tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete</h4>
            </div>
            <div class="modal-body" *ngIf="selectedPlayer">
                <p>Do you really want to delete the player {{selectedPlayer.name}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="deletePlayer()">Delete player</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade battleship-player" id="error-dialog" #errorDialog tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-exclamation-circle error-icon"
                        aria-hidden="true"></i>{{playerError?.title}}</h4>
            </div>
            <div class="modal-body">
                <p [innerHtml]="playerError?.detail"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade battleship-player" id="success-dialog" #successDialog tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-check-circle success-icon"
                        aria-hidden="true"></i>Success</h4>
            </div>
            <div class="modal-body">
                <p>The player has been tested successfully.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade battleship-player" id="log-dialog" #logDialog tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg log-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Log</h4>
            </div>
            <div class="modal-body">
                <div class="buttons">
                    <button type="button" class="btn text-right" (click)="refreshLog()"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh</button>
                    <button type="button" class="btn text-right" (click)="clearLog()"><i class="fa fa-trash-o" aria-hidden="true"></i> Clear Log</button>
                </div>
                <table class="table">
                    <tbody>
                        <ng-container *ngIf="log.length">
                            <ng-container *ngFor="let item of log; index as i">
                                <tr>
                                    <td>
                                        <ng-container *ngIf="!item.completed">
                                            {{item.timestamp | date:'M/d/yy, h:mm:ss a'}}
                                        </ng-container>
                                        <ng-container *ngIf="item.completed">
                                            {{item.started | date:'M/d/yy, h:mm:ss a'}} - {{item.completed |
                                            date:'M/d/yy, h:mm:ss a'}}
                                        </ng-container>
                                        <br />
                                        {{item.logMessage}}
                                    </td>
                                </tr>
                            </ng-container>
                        </ng-container>

                        <tr *ngIf="!log.length">
                            <td colspan="3" class="text-center">No log entries available.</td>
                        </tr>
                    </tbody>
                </table>

                <ng-container *ngIf="isLogBusy">
                    <div class="busy-indicator text-center"><i class="fa fa-spinner page-busy-indicator"
                            aria-hidden="true"></i>
                    </div>
                </ng-container>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>