.logout {
    margin-bottom: 10px;

    button {
        margin-left: 10px;
    }
}

a i {
    cursor: pointer;
}

.table {
    td:nth-child(1) {
        width: 20%;
    }

    td:nth-child(2) {
        width: 30%;
    }

    td:nth-child(5),
    td:nth-child(6),
    td:nth-child(7) {
        width: 40px;
    }
}

input[type=checkbox] {
    margin-right: 10px;
}

.page-busy-indicator {
    font-size: 36px;
}

.loading-players {
    margin-right: 10px;
}

.fa-spinner {
    animation-name: rotate-s-loader;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: linear;
}

@keyframes rotate-s-loader {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
