{{ "<!-- ABOUT -->" | safeHTML }}
<section class="bg-secondary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Azure and Cloud Computing Conference</h2>

                <hr>

                <h3>In-Person Event Cancelled</h3>

                <p class="text-faded">Given the current COVID-19 situation in Europe, we have no other choice than
                    cancelling the in-person event. However, the worldwide Global Azure Bootcamp is going virtual and
                    the speakers from Global Azure Bootcamp Linz will take part.
                </p>

                <hr>

                <h3>We Are Going Virtual!</h3>

                <p class="text-faded">The event will be held via <a href="https://products.office.com/de-at/microsoft-teams/group-chat-software" target="_blank">Microsoft Teams Live Events</a>. We will provide a new schedule with
                    links to join the sessions until mid April.</p>

                <p class="text-faded">At <a href="https://virtual.globalazure.net/" target="_blank">virtual.globalazure.net</a> you will find the landing zone for the international
                    Global Azure Virtual. The site is still under construction, but make sure to leave
                    your email adress there to get notified when updates are available.</p>

                    <hr>

                <h3>Join us on Friday, April 16, 2021!</h3>
            </div>
        </div>
    </div>
</section>

<section id="abount-2">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-user wow bounceIn text-primary"></i>
                    <h3>Speakers</h3>
                    <p class="text-muted">Internationally highly respected speakers will share their knowledge about
                        topics around Azure and Cloud Computing.</p>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Sponsors</h3>
                    <p class="text-muted">Thanks to our great sponsors the entry will be free and we will be able to
                        provide lunch, coffee, beverages and snacks.</p>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary"></i>
                    <h3>Community</h3>
                    <p class="text-muted">Organized by the community for the community. Exchange ideas with developers
                        from all over Austria.</p>
                </div>
            </div>
        </div>
    </div>
</section>