<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
    {{ partial "head.html" . }}
</head>

<body id="page">
    {{ partial "nav.html" . }}

    <section id="battleship-coding-contest">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Battleship Coding Contest</h2>
                    <hr>
                    <p>
                        In this coding contest, you can playfully enhance your coding skills
                        by building a computer player in a classical 
                        <a href="https://github.com/rstropek/BattleshipContestFunc/wiki/Game-Rules" target="_blank">Battleship</a>
                        game. The efficiency of your player will be measured automatically and you can 
                        see how well it performs in comparison to players of other contestants. 
                    </p>
                    <p>
                        <a class="btn btn-primary page-scroll"  href="#battleship-coding-contest-ranking">See current ranking...</a>
                    </p>
                    <hr>
                </div>

                <div class="col-sm-12">
                    {{ with .Site.BaseURL }}
                    <battleship-player-management redirect-uri="{{ . }}battleship/"></battleship-player-management>
                    {{ end }}
                    <hr>
                </div>

                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2>FAQ</h2>

                    <h3>When does it start? How long can I participate?</h3>
                    <p>
                        Currently, we are in <i>training mode</i>. You can develop players, you can upload them,
                        they will be measured. On April 16th, 2021, the day of the <i>Global Azure Austria 2021</i>
                        event, all results will be reset. Registered players will not be deleted, but you must
                        re-trigger a tournament in order to get measured and counted for the contest. The contest will
                        close after 14 days on April 30th, 2021.
                    </p>

                    <h3>Which languages and platforms are supported?</h3>
                    <p>
                        Technically, a player is 
                        <a href="https://github.com/rstropek/BattleshipContestFunc/wiki/Player-Web-API" target="_blank"> web API</a>. 
                        As practically all modern languages and platforms support building web APIs, you can choose freely.
                        However, we have a 
                        <a href="https://github.com/rstropek/BattleshipContestFunc/wiki/.NET-Helper-Library" target="_blank">helper library</a> making it
                        particularly simple to using C# and .NET. Similar libraries for other languages might be added in the next weeks.
                    </p>
                    
                    <h3>Which cloud environments are supported?</h3>
                    <p>
                        You can host your player 
                        <a href="https://github.com/rstropek/BattleshipContestFunc/wiki/Running-Players-Locally" target="_blank">locally on your dev machine</a>
                        or in any cloud environment reachable from the public internet.
                    </p>

                    <h3>Where can I learn more?</h3>
                    <p>
                        Read more about how to write computer players for this coding contest
                        <a href="https://github.com/rstropek/BattleshipContestFunc/wiki" target="_blank">in our Wiki</a>.
                        In case of questions or bugs, 
                        <a href="https://github.com/rstropek/BattleshipContestFunc/issues/new" target="_blank">create a GitHub issue</a>
                        or post something in the <i>#battleship-contest</i> channel of
                        <a href="https://discord.gg/CVGFZFy" target="_blank">our Discord server</a>.
                    </p>
                    
                    <h3>Can I win something?</h3>
                    <p>
                        Oh yes, you can! The developers of the best computer players will receive great prices.
                        Details will be announced at <i>Global Azure Austria 2021</i> on April 16th, 2021.
                    </p>

                    <h3>Terms and Conditions</h3>
                    <p>
                        Participating in this coding contest is 100% free. By registering, you agree to its 
                        <a href="/battleship/teilnahmebedingungen/">terms and conditions</a> (only available
                        in German). Note that our our sponsor <i>Microsoft Austria</i> has made it possible to award the best
                        coders of the contest with great prices. In return, they get the email addresses of participants
                        and add them to their newsletter. You can always cancel your subscription if you don't
                        like their newsletter.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="battleship-coding-contest-ranking" class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Battleship Ranking</h2>
                    <hr class="light">
                    <p>
                        Here are the most successful players.
                    </p>
                </div>

                <div class="col-sm-12">
                    <battleship-ranking></battleship-ranking>
                </div>
            </div>
        </div>
    </section>

    {{ partial "sponsors.html" . }}

    {{ partial "contact.html" . }}

    {{ partial "js.html" . }}
</body>

</html>